.registerBackground {
	background-image: url('https://s3-us-west-2.amazonaws.com/am-i-going-over/neonbrand-423336-unsplash.jpg');
	background-position: center;
	background-size: cover;
}

.register-form {
	background-color: rgba(255, 255, 255, 0.7);
	width: 80%;
	text-align: center;
	margin: 0 auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.registration-form-container {
	padding-bottom: 20px;
}

.register-form-title {
	font-size: 1.7rem;
	color: #05007B;
	margin: 0 0;
	padding-top: 20px;
}

@media (max-width: 500px) {
	h3, .register-form-title {
		font-size: 1.4rem;
		box-sizing: border-box;
	}

	form .register-from {
		box-sizing: border-box;
	}
}

.register-input {
	border-radius: 1%;
	border: none;
	padding: 10px;
	width: 46%;
	font-size: 1.1rem;
	text-align: center;
	border: 2px solid rgba(0, 0, 0, 0.7);
	background-color: transparent !important;
}

.errorClass {
	border-radius: 1%;
	border: none;
	padding: 10px;
	width: 46%;
	font-size: 1.1rem;
	text-align: center;
	background-color: transparent !important;
	border: 2px solid red;
}

.register-input:focus {
	color: rgba(0, 0, 0, 0.6);
	background-color: transparent !important;
}

.register-button {
	padding: 12px 30px;
	border: none;
	color: white;
	background-color: #05007B;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "sans-serif";
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	filter: drop-shadow(0px 0px 1.3px rgba(255, 255, 255, 0.9));
}

.radio-label {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "sans-serif";
	color: #393E41;
}

div.radio-buttons label {
	padding-right: 30px;
}

.login-section {
	padding-bottom: 9px;
}

.login-section a {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "sans-serif";
	color: #D90000;
}

@media (max-width: 767px) {
	.register-form {
		width: 100%;
	}

	.register-input {
		width: 70%;
	}

	.errorClass {
		width: 70%;
	}
}